<div class="nested-fields">
  <div class="form-group">
    <%= f.label :description, "Opção", class: "col-sm-2 control-label field" %>
    <div class="col-sm-4">
      <%= f.text_area :description, class:"form-control" %>
    </div>
    <%= link_to_remove_association f, class: "btn btn-danger" do %>
      <i class="glyphicon glyphicon-remove"></i> Remover
    <% end %>
  </div>
</div>
