<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-primary">
    <div class="panel-heading">Nova questão</div>
    <div class="panel-body">
      <%= render 'form', question: @question %>
    </div>
    <div class="panel-footer">
      <%= link_to 'Voltar', questions_path, class: "btn btn-default" %>
    </div>
  </div>
</div>
