<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-primary">
    <div class="panel-heading">Novo Cargo</div>
    <div class="panel-body">
      <%= render 'form', position: @position %>
    </div>
    <div class="panel-footer">
      <%= link_to 'Voltar', positions_path, class: "btn btn-default" %>
    </div>
  </div>
</div>
