<div class="col-md-6 col-md-offset-3">
  <div class="praxis-panel  ">
    <div class="heading">
      <p class="heading-text">Diretoria - Detalhes</p>
    </div>
    <div class="panel-body">
      <p id="notice"><%= notice %></p>

      <p>
        <b>Nome:</b> <%= @sector.name %>
      </p>
      <p>
        <b>Diretor:</b> <%#= @sector.director.name unless @sector.director.nil? %>
      </p>
    </div>
    <div class="footer">
      <%= link_to 'Editar Diretoria', edit_sector_path(@sector), class: "button" %>
      <%= link_to 'Voltar', sectors_path, class: "button -white" %>
    </div>
</div>
