<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-primary">
    <div class="panel-heading">Fator de Avaliação - Detalhes</div>
    <div class="panel-body">
      <p id="notice"><%= notice %></p>
      <p>
        <b>Nome:</b> <%= @evaluation_factor.name %>
      </p>
    </div>
    <div class="panel-footer">
      <%= link_to 'Editar Fator de Avaliação', edit_evaluation_factor_path(@evaluation_factor), class: "btn btn-primary" %>
      <%= link_to 'Voltar', evaluation_factors_path, class: "btn btn-default" %>
    </div>
</div>
