<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-primary">
    <div class="panel-heading">Novo Projeto</div>
    <div class="panel-body">
      <%= render 'form', project: @project %>
    </div>
    <div class="panel-footer">
      <%= link_to 'Voltar', projects_path, class: "btn btn-default" %>
    </div>
  </div>
</div>
