<div class="col-md-6 col-md-offset-3">
  <div class="panel panel-primary">
    <div class="panel-heading">Editar Modelo de Avaliação</div>
    <div class="panel-body">
      <%= render 'form', evaluation_model: @evaluation_model %>
    </div>
    <div class="panel-footer">
      <%= link_to 'Ver Detalhes', @evaluation_model, class: "btn btn-primary" %>
      <%= link_to 'Voltar', evaluation_models_path, class: "btn btn-default" %>
    </div>
  </div>
</div>
