<p>Olá, <%= @resource.email %>!</p>

<p>Foi requisitado uma recuperação de senha para sua conta. Você pode realizar isso acessando o link abaixo: .</p>

<p><%= link_to 'Mudar minha senha', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se você não realizou o pedido de recuperação de senha, ignore este email..</p>
<p>Sua senha não será alterada até você acessar o link acima e realizar a mudança de senha.</p>
