<div class="nested-fields">
  <div class="form-group">
    <div class= "col-sm-6 control-label">
      <%= question_value.question.description %>
    </div>
    <div class="col-sm-6">
      <%= f.collection_select :option_id, question_value.options, :id, :description, { prompt: "- Selecione -" }, class: "form-control" %>
    </div>
  </div>
</div>
