<div class="nested-fields">
  <div class="form-group">
    <div class="col-sm-3 control-label">
      <%= question_value.question.description %>
    </div>
    <div class="col-sm-9">
      <% question_value.options.order(weight: :desc).each do |option| %>
        <% if question_value.options.last == option %>
        <%= f.label :option_id, option.description %>
        <% end %>
        <%= f.radio_button :option_id, option.id %>
        <% if question_value.options.first == option %>
        <%= f.label :option_id, option.description %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
