<div class="form-group">
    <%= f.label :comment, "Comentário", class: "col-sm-2 control-label" %>
    <div class="col-sm-8">
        <%= f.text_area :comment, class: "form-control", placeholder: "Comentário sobre o avaliado e/ou avaliação" %>
    </div>
</div>
