<p id="notice"><%= notice %></p>

<p>
  <strong>Evaluation:</strong>
  <%= @answer_group.evaluation %>
</p>

<%= link_to 'Edit', edit_answer_group_path(@answer_group) %> |
<%= link_to 'Back', answer_groups_path %>
